.calculatorInput {
    display: flex;
    width: 87%;
    margin: 16px auto 0;
    padding: 0px;

    border: none;
    font-size: 96px;
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    color: var(--color-input-calculatorInput-font);
    background-color: var(--color-input-calculatorInput-bg);
    outline: none;
    text-align: right;

    overflow: hidden;
    transition: all 0.2s;
    z-index: 1;
}
