.container {
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    
    &__dark-theme-calculator {
        width: 375px;
        height: 812px;
        background: var(--color-container-bg);
        margin: 100px 60px 100px;
    }
}
