.theme-light {
    --color-container-bg: #F1F2F3;
    --color-button-bg-dark: #FFFFFF;
    --color-button-bg-gray: #D2D3DA;
    --color-button-bg-purple: #4B5EFC;
    --color-button-font-color: #000000;
    --color-button-img: invert(1);
    --color-button-active-bg: #FFFFFF;
    --color-input-calculatorInput-bg: #F1F2F3;
    --color-input-calculatorInput-font: #000000;
    --color-input-subCalculatorInput-font: #4E505F;
    --color-active-operatorButton-bg: white;
    --color-bg-active-operatorButton-font: #000000;
 }
 
 .theme-dark {
     --color-container-bg: #17171C;
     --color-button-bg-dark: #2E2F38;
     --color-button-bg-gray: #4E505F;
     --color-button-bg-purple: #4B5EFC;
     --color-button-font-color: #FFFFFF;
     --color-button-active-bg: #DCDCDC;
     --color-input-calculatorInput-bg: #17171C;
     --color-input-calculatorInput-font: #FFFFFF;
     --color-input-subCalculatorInput-font: #4E505F;
     --color-active-operatorButton-bg: white;
     --color-active-operatorButton-font: #4E505F;
 }
 