$darkthemecolor:#17171C;
$lightthemecolor:#F1F2F3;

$darkthemenumberscolor:#FFFFFF;
$lightthemenumberscolor:#000000;

$buttoncolor1:#2E2F38;
$buttoncolor2:#4E505F;
$buttoncolor3:#4B5EFC;
$buttoncolor4:#FFFFFF;

$slidercolor:#4E505F;
$sliderbeforecolor:#D2D3DA;