body {
  margin: 0px;
  padding: 0px;
  background: gray; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .container__dark-theme-calculator {
    width: 375px;
    height: 812px;
    background: var(--color-container-bg);
    margin: 100px 60px 100px; }

.switch {
  position: relative;
  display: flex;
  margin: auto;
  width: 72px;
  height: 32px;
  top: 60px; }
  .switch__input {
    display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  background-color: #2E2F38;
  -webkit-transition: .4s;
  transition: .4s; }
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    border-radius: 16px;
    background-color: #4E505F;
    transition: .4s; }

.sun {
  width: 24px;
  height: 24px;
  margin-top: 4px;
  margin-left: 5px; }

.moon {
  width: 24px;
  height: 24px;
  margin-left: 10px; }

input:checked + .slider {
  background-color: #FFFFFF; }
  input:checked + .slider:focus + .slider {
    box-shadow: 0 0 1px #4E505F; }

input:checked + .slider:before {
  -webkit-transform: translateX(41px);
  -ms-transform: translateX(41px);
  transform: translateX(41px);
  background-color: #D2D3DA; }

.theme-light {
  --color-container-bg: #F1F2F3; }

.theme-dark {
  --color-container-bg: #17171C; }
