body {
  margin: 0px;
  padding: 0px;
  background: gray; }

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .container__dark-theme-calculator {
    width: 375px;
    height: auto;
    background: var(--color-container-bg);
    margin: auto; }

.switch {
  position: relative;
  display: flex;
  margin: auto;
  width: 72px;
  height: 32px;
  margin-top: 60px; }
  .switch__input {
    display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  background-color: #2E2F38;
  -webkit-transition: .4s;
  transition: .4s; }
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    border-radius: 16px;
    background-color: #4E505F;
    transition: .4s; }

.sun {
  width: 24px;
  height: 24px;
  margin-top: 4px;
  margin-left: 5px; }

.moon {
  width: 24px;
  height: 24px;
  margin-left: 10px; }

input:checked + .slider {
  background-color: #FFFFFF; }
  input:checked + .slider:focus + .slider {
    box-shadow: 0 0 1px #4E505F; }

input:checked + .slider:before {
  -webkit-transform: translateX(41px);
  -ms-transform: translateX(41px);
  transform: translateX(41px);
  background-color: #D2D3DA; }

.theme-light {
  --color-container-bg: #F1F2F3;
  --color-button-bg-dark: #FFFFFF;
  --color-button-bg-gray: #D2D3DA;
  --color-button-bg-purple: #4B5EFC;
  --color-button-font-color: #000000;
  --color-button-img: invert(1);
  --color-button-active-bg: #FFFFFF; }

.theme-dark {
  --color-container-bg: #17171C;
  --color-button-bg-dark: #2E2F38;
  --color-button-bg-gray: #4E505F;
  --color-button-bg-purple: #4B5EFC;
  --color-button-font-color: #FFFFFF;
  --color-button-active-bg: #DCDCDC; }

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 170px auto 60px; }
  .buttons__button-numbers {
    box-sizing: border-box;
    margin: 1.5%;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    width: 22%;
    height: 72px; }

.gray-color {
  background-color: var(--color-button-bg-gray);
  color: var(--color-button-font-color);
  font-size: 30px; }
  .gray-color:active {
    background-color: var(--color-button-active-bg);
    transition: .4s; }
  .gray-color__button-text {
    display: block;
    margin: 0 auto;
    filter: var(--color-button-img); }

.purple-color {
  background-color: var(--color-button-bg-purple);
  color: var(--color-button-font-color);
  font-size: 30px; }
  .purple-color:active {
    background-color: #B0C4DE;
    transition: .4s; }
  .purple-color__button-text {
    display: block;
    margin: 0 auto; }

.dark-gray-color {
  background-color: var(--color-button-bg-dark);
  color: var(--color-button-font-color);
  font-size: 30px; }
  .dark-gray-color:active {
    background-color: #A9A9A9;
    transition: .4s; }
  .dark-gray-color__button-text {
    display: block;
    margin: 0 auto;
    filter: var(--color-button-img); }
