body {
  margin: 0px;
  padding: 0px;
  background: gray; }

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .container__dark-theme-calculator {
    width: 375px;
    height: auto;
    background: var(--color-container-bg);
    margin: auto;
    overflow: hidden;
    transition: all 0.2s;
    z-index: 1; }

.switch {
  position: relative;
  display: flex;
  margin: auto;
  width: 72px;
  height: 32px;
  margin-top: 60px; }
  .switch__input {
    display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  background-color: #2E2F38;
  -webkit-transition: .4s;
  transition: .4s; }
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    border-radius: 16px;
    background-color: #4E505F;
    transition: .4s; }

.sun {
  width: 24px;
  height: 24px;
  margin-top: 4px;
  margin-left: 5px; }

.moon {
  width: 24px;
  height: 24px;
  margin-left: 10px; }

input:checked + .slider {
  background-color: #FFFFFF; }
  input:checked + .slider:focus + .slider {
    box-shadow: 0 0 1px #4E505F; }

input:checked + .slider:before {
  -webkit-transform: translateX(41px);
  -ms-transform: translateX(41px);
  transform: translateX(41px);
  background-color: #D2D3DA; }

.theme-light {
  --color-container-bg: #F1F2F3;
  --color-button-bg-dark: #FFFFFF;
  --color-button-bg-gray: #D2D3DA;
  --color-button-bg-purple: #4B5EFC;
  --color-button-font-color: #000000;
  --color-button-img: invert(1);
  --color-button-active-bg: #FFFFFF;
  --color-input-calculatorInput-bg: #F1F2F3;
  --color-input-calculatorInput-font: #000000;
  --color-input-subCalculatorInput-font: #4E505F; }

.theme-dark {
  --color-container-bg: #17171C;
  --color-button-bg-dark: #2E2F38;
  --color-button-bg-gray: #4E505F;
  --color-button-bg-purple: #4B5EFC;
  --color-button-font-color: #FFFFFF;
  --color-button-active-bg: #DCDCDC;
  --color-input-calculatorInput-bg: #17171C;
  --color-input-calculatorInput-font: #FFFFFF;
  --color-input-subCalculatorInput-font: #4E505F; }

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto 66px; }
  .buttons__buttonNumbers {
    box-sizing: border-box;
    position: relative;
    width: 22%;
    height: 72px;
    margin: 1.5%;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.2s;
    z-index: 1; }
    .buttons__buttonNumbers .circle {
      position: absolute;
      border-radius: 50%;
      pointer-events: none;
      background-image: radial-gradient(circle closest-side, white, #4E505F);
      width: 1px;
      height: 1px;
      z-index: 3;
      -webkit-animation-name: ripple;
      animation-name: ripple;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in; }

@-webkit-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 0; }
  75% {
    transform: scale(300, 300);
    opacity: 0.75; }
  100% {
    transform: scale(500, 500);
    opacity: 0; } }

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 0; }
  75% {
    transform: scale(300, 300);
    opacity: 0.75; }
  100% {
    transform: scale(500, 500);
    opacity: 0; } }

.gray-color {
  background-color: var(--color-button-bg-gray);
  color: var(--color-button-font-color);
  font-size: 32px;
  font-family: 'Work Sans', sans-serif; }
  .gray-color__button-text {
    display: block;
    margin: 0 auto;
    filter: var(--color-button-img); }

.purple-color {
  background-color: var(--color-button-bg-purple);
  color: var(--color-button-font-color);
  font-size: 32px;
  font-family: 'Work Sans', sans-serif; }
  .purple-color__button-text {
    display: block;
    margin: 0 auto; }
  .purple-color .circle {
    background-image: radial-gradient(circle closest-side, white, #4b5efc); }

.dark-gray-color {
  background-color: var(--color-button-bg-dark);
  color: var(--color-button-font-color);
  font-size: 32px;
  font-family: 'Work Sans', sans-serif; }
  .dark-gray-color__button-text {
    display: block;
    margin: 0 auto;
    filter: var(--color-button-img); }

.calculatorInput {
  display: flex;
  width: 87%;
  margin: 16px auto 0;
  padding: 0px;
  border: none;
  font-size: 96px;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  color: var(--color-input-calculatorInput-font);
  background-color: var(--color-input-calculatorInput-bg);
  outline: none;
  text-align: right;
  overflow: hidden;
  transition: all 0.2s;
  z-index: 1; }

.subCalculatorInput {
  display: flex;
  width: 87%;
  margin: 55px auto 0;
  padding: 0px;
  border: none;
  font-size: 40px;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  color: var(--color-input-subCalculatorInput-font);
  background-color: var(--color-input-calculatorInput-bg);
  outline: none;
  text-align: right;
  overflow: hidden;
  transition: all 0.2s;
  z-index: 1; }
